doctype html
html
  head
    title My Pug Template
    block scripts
    block css
        link(rel='stylesheet', type="text/css" href='/css/layout.css')
  body
    block content
    block footer
      p Thanks for Visiting the Site!
