doctype html
html
  head
    title Get your iPhone fixed fast and properly!
    block scripts
    block css
        link(rel='stylesheet', type="text/css" href='/css/layout.css')
  body
    block content
    block footer
      p Contact at : 804-299-0000 fixitgadgets@gmail.com
