extends ../../layout/layout.pug

block content
  h1 Welcome to the Admin Product Page
  ul
  div(class="wrapper")
    each product in products
      div(class="container")
        li
          a(href="/admin/products/"+ product.id) #{product.itemName}
        li
          #{product.itemDesc}
        li
          span(class="images") 
            img(src="../../" + product.itemImg)
        li  
          <span class="prices"> $$#{product.itemPrc}
        br
  a(href="/admin/products/new")
    form(METHOD="POST")
    input(type="hidden")
    button(type="SUBMIT") Add new item!
  
