form(method='POST')
	label Item Name:
		input(type='text' name='itemName' value=product.itemName)
	label Item Description:
		input(type='text' name='itemDesc' value=product.itemDesc)
	label Image Path:
		input(type='text' name='itemImg' value=product.itemImg)
	label Price:
		input(type='number' name='itemPrc' value=product.itemPrc)
	button(type='submit') Submit
