form(method='POST')
	label Item Name:
		input(type='text' name='itemName')
	label Item Description:
		input(type='text' name='itemDesc')
	label Image:
		input(type='text' name='itemImg')
	label Price:
		input(type='number' name='itemPrc')
	button(type='submit') Submit
